<div class="category-slider-container max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 relative">
    <button class="category-prev absolute -left-4 top-1/2 transform -translate-y-1/2 text-black p-2 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
    </button>
    <button class="category-next absolute -right-4 top-1/2 transform -translate-y-1/2 text-black p-2 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        </svg>
    </button>
    <div class="category-slider flex space-x-4 overflow-x-hidden max-w-full mx-auto" id="slider" style="width: 100%;">
        <% categories.forEach(category => { %>
            <div class="flex-shrink-0 w-40">
                <div class="relative h-14 rounded-lg overflow-hidden">
                    <div class="absolute inset-0 bg-gradient-to-r from-gray-500 to-gray-700 opacity-75"></div>
                    <div class="absolute inset-0 flex items-center justify-center">
                        <span class="text-white font-semibold">#<%= category %></span>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
