<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/tailwind.css">
  <script src="http://localhost:35729/livereload.js"></script>
</head>
<body class="bg-gray-50">
  <%- include('./navbar.ejs') %>
