<form action="/search" method="GET" class="relative mb-4">
    <input type="text" name="searchUserName"
        class="w-full p-3 pl-10 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:border-primary"
        placeholder="Tìm tên" required>
    <button type="submit" class="absolute inset-y-0 left-3 flex items-center">
        <svg class="h-5 w-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
    </button>
</form>